body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result {
    text-align: center;
    padding-left: 50px;
}
form {
    margin-top: 20px;
    text-align: center;
}

#heading {
    text-align: center;
}

.result-box{
    width: 90%; 
    margin: 10px auto !important; 
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.error-message {
    color: red;
    text-align: center;
}