<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Search Engine</title>

</head>
<body>
    <div class="content" >
        <h1 id="heading"> Search Engine</h1>
        <form action="/" method="POST">
            <input type="text" id="query" name="query">
            <input type="submit", value="Search">
        </form>
        {% if has_searched %}
        <div class="result-box">

            {% if urls|length > 0%}
                <h4 class="result-text"> Here are your search results : </h4>
            {%for url in urls %}
                <h4><a class="result-text" href="{{url}}"> {{url}}</a></h4>
            {%endfor %}

            {%else%}
                 <h4 class="error-message"> No Search Results Found </h4>
            {%endif%}
        </div>
        {%endif%}
    </div>
</body>
</html>